In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

cursor.execute("Select REPLACE(FIRST_NAME,'a','A') from Worker")

2) 
Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

cursor.execute("Select * from Worker order by FIRST_NAME asc,DEPARTMENT desc")


3) Write an SQL query to fetch the names of workers who earn the highest salary.

cursor.execute(" select first_name from Worker where salary = (select MAX(salary) from Worker)")